:root {
    --primary-font: 'Merriweather', serif;
    --primary-color: #0b2246;
    --secondary-color: #ffffff;
}


/*GENERAL RULES FOR THE WHOLE PAGE*/
body {
    font-family: var(--primary-font);
}

.container {
    display: table;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
}

ul  {
    list-style:none;
}
a {
    color: var(--primary-color);
    text-decoration: none;
}
/*CLOSE GENERAL RULES*/
/*OPEN 'HEADER/TOP' RULES*/
.container1 {
    width: 100%;
    margin-bottom:10px
}

.logo-img {
    width:428px;
    height:83.45px;
    margin-left:195px;
}

.topNav {
    margin-right:195px;
    float:right;
}
.container1 li{
    display:inline;
    padding-right:15px;
}
.topNav a {
        font-family: var(--primary-font);
        font-size: 18px;
}
.resource-tab {
    background-color: #9f935f;
    color: white;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
}
.resource-tab a{
    color:white;
}
/*CLOSE 'HEADER/TOP' RULES*/
/*OPEN 'HERO' RULES*/
.container2 {
    margin: 0 auto;
    margin-bottom:40px;
}
.hero-image {
    text-align: center;
}

.titleBannerContainer{
    margin:0 auto 50px;
    /*margin-bottom:50px;*/
}
/*CLOSE 'HERO' RULES*/
/*OPEN 'CONTAINER3 RULES*/
.container3 {
    display: flex;
    justify-content: center;
    margin-bottom: 54px;
    /*height:400px;*/
}
.container3 li{
    display: inline;
}
.container3 img{
    width:300px;
    height:300px
}

.benefitsContainer, .faqsContainer, .formsContainer, .policyContainer, .timeReportingContainer, .techServiceContainer {
    margin: 0 auto;
    height:380px;
}
/*CLOSE CONTAINER3 RULES*/
/*OPEN CONTAINER 4 RULES*/
.container4 {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
}
.container4 ul {
    padding: 0;
}
.container4 li {
    padding: 5px;
    display:inline;
}
/*CLOSE CONTAINER4 RULES*/
/*OPEN RULES FOR FORMS */
.hr-policy li {
    width: calc(100%/6);
}
.hr-policy ul {
    display: flex;
    width:1200px;
}
/*CLOSE RULES FOR FORMS*/
/*OPEN RULE TECH SERVICES*/
.techServiceContainer {
    color:red;
}
/*CLOSE CONTAINER FOR TECH SERVICES*/
